

/*############################################################################# BODY HISTORIA #############################################################################*/

/*mixin_tarjeta se utiliza en historia, recetas y contacto*/
@mixin mixin_tarjeta{
    border: $border;
    background: $gradient-right;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container_body_h{
    @include mixin_tarjeta();
}

.img_side--historia{
    width: 345px;
    border-radius: 10px;
}

.img_size--hist_2{
    height: 150px;
}

.img_size--hist_2--logo{
    height: 50px;
}

.img_size--hist_2--otros{
    height: 50px;
}

.separador{
    padding-top: 50px;

    h4{
        color: map-get($estilo-fuente,color-principal);
    }
}
