@font-face{
    font-family: "Ubuntu-Regular";
    src: url('../assets/font/Ubuntu-Regular.ttf');
}

//Map
$estilo-fuente:(
color-principal: #3d9915,
color-secundario: #6c757d,
fuente: "Ubuntu-Regular",
color-pop: #f78f19
);



body{
    /*background-image: url(../assets/background/rename.webp);*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: map-get($estilo-fuente, fuente);
}

p{
    /*color: #3d9915;*/
    line-height: 2;
    font-weight: 200;
    /* font-size: 1.1vw; */
    color: map-get($estilo-fuente, color-secundario);
}

p strong{
    font-weight: 600;
    
}

h2{
    color: map-get($estilo-fuente,color-principal);

}

h3{
    color: map-get($estilo-fuente,color-principal);
}

h4{
    color: map-get($estilo-fuente,color-principal);
}

h5{
    color: map-get($estilo-fuente,color-secundario); 
}
